<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87724814467-mj0qrbdt07f2lfcqu3b95kn8k9krhong.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87724814467-mj0qrbdt07f2lfcqu3b95kn8k9krhong</string>
	<key>API_KEY</key>
	<string>AIzaSyAhzdpfRNNIcaiRSEG_MqEM0nBvQxtPNSk</string>
	<key>GCM_SENDER_ID</key>
	<string>87724814467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.freewalls</string>
	<key>PROJECT_ID</key>
	<string>wallpaperapp-b34b4</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaperapp-b34b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87724814467:ios:20b4e68937b4735a62abb6</string>
</dict>
</plist>